<div *ngIf="!isMovieFound" class="info">
  <h2>Movie Search</h2>
  <form (ngSubmit)="onSearchMovie()">
    <div>
      <input type="text" [(ngModel)]="movieName" name="movieTitle" placeholder="Enter movie title">
    </div>
    <button type="submit" class="btn">Search</button>
  </form>
</div>

<div *ngIf="isMovieFound" class="info1" style="display: flex; align-items: flex-start;">
  <div id="poster">
    <img [src]="movie?.Poster" alt="{{movie?.Title}}">
  </div>
  <div id="data">
    <h2>{{movie?.Title}}</h2>
    <p><strong>Year: </strong>{{movie?.Year}}</p>
    <p><strong>IMDB Rating: </strong>{{movie?.imdbRating}}</p>
    <p><strong>Runtime: </strong>{{movie?.Runtime}}</p>
    <p><strong>Director: </strong>{{movie?.Director}}</p>
    <p><strong>Actors: </strong>{{movie?.Actors}}</p>
    <p><strong>Plot: </strong>{{movie?.Plot}}</p>
    <button (click)="reset()" class="btnNew">New Search</button>
  </div>
  

</div>

<div *ngIf="error" class="alert alert-danger">{{error}}</div>


